<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="/static/custom.css"> 
    
     <title>US Job Market Test Positive for COVID-19 </title>
  </head>
  <body>

       <!-- navbar included-->
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">C19 Jobs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
                        
            <li class="nav-item">
                <a class="nav-link" href="./data.html">Data</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Covid Impact</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="./graph.html">Covid-19 Cases</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./job-impact.html">Jobs Data Impact</a>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="./team.html">Our Team</a>
              </li>

        </div>
      </nav>

      
    <div class="container">
      <h2>Project Overview</h2>
      <hr>
      <p>The COVID-19 virus pandemic continues to blaze a trial of upheaval and a path of destruction. In the US alone, tens of thousands of lives have been loss and millions of other persons are at risk for infection. As cities across the country practice shelter-in-place, businesses that fall outside the definition of non-essential have been forced to close their doors and implement widespread remote working and telecommuting standards.</p>
      <h2>Objective</h2>
      <hr>
      <p>In recognition of the work from home mandates and forced closing of businesses (such as restaurants, salons, clothing stores), our team decided to conduct an analysis to better determine the impact COVID-19 is having on jobs market – more specifically the viability of the data science job market.</p>
      <h2>Scope</h2>
      <hr>
      <p>As part of our analysis, our team chose to focus on the following 5 cities: <br>
        <ol>
          <li>New York</li>
          <li>Chicago</li>
          <li>Boston</li>
          <li>San Francisco</li>
          <li>Seattle</li>
        </ol>
      	
        Not only are these cities the largest employers of Data Scientist, they are also major cities among the states with the most reported cases of the COVID-19 virus (source: NY Times).
        </p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>