<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Our Team</title>
  </head>

  <body>
    <!-- navbar included-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">C19 Jobs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" href="./data.html">Data</a>
          </li>
    
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Covid Impact</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="./graph.html">Covid-19 Cases</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="./job-impact.html">Jobs Data Impact</a>
            </div>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" href="./team.html">Our Team</a>
          </li>
    
    
      </div>
    </nav>

    <h1 style="text-align: center; color:navy; padding: 50px 0 60px 0;">Meet Our Team</h1>

    <div class="container">
      <div class="row">
        <div class="card-deck">
          <div class="card">
            <img src="/static/img/amartin.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title"><a href="https://github.com/AMartin40/">Amber Martin</a></h5>
              
              <p class="card-text">
                Amber is responsible for all our Project Charters ensuring our
                team is aware of roles and responsible. In addition Amber
                delivers the Flask server infrastructure work to ensure our app
                connects with Mongo via Pymongo library and can render data to the front-end.
              </p>
              <p class="card-text">
                <small class="text-muted"
                  >Toolkit: Flask, python, vs code, html, git</small
                >
              </p>
            </div>
          </div>
          <div class="card">
            <img src="/static/img/omoreno.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title"><a href="https://github.com/sir-omoreno">Ozzie Moreno</a></h5>
              <p class="card-text">
                Ozzie is our GitHub extraordinaire and Repo Administrator who
                resolves merge conflicts and ensures code is checked-in and out
                in accordance with our project standards. In addition, Ozzie
                developed the python module used to scrape the Indeed Jobs feed.
              </p>
              <p class="card-text">
                <small class="text-muted"
                  >Toolkit: git, terminal, Beautiful Soup, jupyter
                </small>
              </p>
            </div>
          </div>
          <div class="card">
            <img src="/static/img/abrown.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title"><a href="https://github.com/brownan296">Anthony Brown</a></h5>
              <p class="card-text">
                Anthony is the responsible for the python module that creates
                dictionaries from the cleaned csv data files, as well as, the
                insertion of records as documents into the MongoDB for usage on
                the front-end via the Flask Template.
              </p>
              <p class="card-text">
                <small class="text-muted"
                  >Toolkit: MongoDB, python, vs code, git</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr style="padding: 10px 0 10px 0;" />
      <div class="row">
        <div class="card-deck">
          <div class="card">
            <img
              src="/static/img/sdontemsetti.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title"><a href="https://github.com/swati-dontamsetti/">Swati Dontamsetti</a></h5>
              <p class="card-text">
                Swati is our data engineering lead responsible for the
                transformation of data scraped from multiple sources. Swati also
                leads the data visualizaion work using matplotlib to generate
                charts.
              </p>
              <p class="card-text">
                <small class="text-muted"
                  >Toolkit: matplotlib, pandas, jupyter, git</small
                >
              </p>
            </div>
          </div>
          <div class="card">
            <img src="/static/img/arazak.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title"><a href="https://github.com/frazak30/">Firzana Razak</a></h5>
              <p class="card-text">
                Ana is our lead UI developer responsible for the layout and
                styling of the front-end of our application. Ana is also a main
                contributor on the visualization of data using Pandas and
                Matplotlib libraries for our graphs.
              </p>
              <p class="card-text">
                <small class="text-muted"
                  >Toolkit: html, css, vs code, pyplot, git
                </small>
              </p>
            </div>
          </div>

          <div class="card">
            <img src="/static/img/kramsay.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title"><a href="https://informidas.github.io/">Karl Ramsay</a></h5>
              <p class="card-text">
                Karl is the lead architect on the project and handles scrum
                master resposibilities to set cadence of the team. Additionally,
                Karl supports the team with his coding expertise to unblock
                coding issues when they arise.
              </p>
              <p class="card-text">
                <small class="text-muted"
                  >Toolkit: terminal, chrome debugger, stackoverflow, git</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      ...
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
